@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.scrollbar-yellow::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-yellow::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-yellow::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Yellow */
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

/* Firefox */
.scrollbar-yellow {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #f1f1f1;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important;
}
